@model WorkOrderSite.Models.WorkOrder

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>WorkOrder</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.LocationID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationID)
                @Html.ValidationMessageFor(model => model.LocationID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkerID)
                @Html.ValidationMessageFor(model => model.WorkerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryContactID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrimaryContactID)
                @Html.ValidationMessageFor(model => model.PrimaryContactID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkOrderTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkOrderTitle)
                @Html.ValidationMessageFor(model => model.WorkOrderTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkOrderDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkOrderDescription)
                @Html.ValidationMessageFor(model => model.WorkOrderDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkOrderPriority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkOrderPriority)
                @Html.ValidationMessageFor(model => model.WorkOrderPriority)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkOrderRequestDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkOrderRequestDate)
                @Html.ValidationMessageFor(model => model.WorkOrderRequestDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkOrderRequiredDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkOrderRequiredDate)
                @Html.ValidationMessageFor(model => model.WorkOrderRequiredDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkOrderCompletedDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkOrderCompletedDate)
                @Html.ValidationMessageFor(model => model.WorkOrderCompletedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resolution, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Resolution)
                @Html.ValidationMessageFor(model => model.Resolution)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
