@model WorkOrderSite.Models.Worker

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Worker</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.WorkerLastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkerLastName)
                @Html.ValidationMessageFor(model => model.WorkerLastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkerFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkerFirstName)
                @Html.ValidationMessageFor(model => model.WorkerFirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkerEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkerEmail)
                @Html.ValidationMessageFor(model => model.WorkerEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkerPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkerPhone)
                @Html.ValidationMessageFor(model => model.WorkerPhone)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
